  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
　.box-shadow{
    text-align: center;
  }
  .login-form {
    max-width: 600px;
  }

  .login-form-button {
    width: 100%;
  }
